

<div>
    <section class="row">
        <h2 class="title_l">Contacto</h2>

        <div class="text_contacto left">
            <h4>Pensando siempre<span>en darles la mejor atención</span></h4>
            <p>Si tienes alguna duda sobre cómo funciona nuestra aplicación de taxi o deseas ponerte en contacto con nosotros.</p>
        </div>

        <div class="img_contacto right"></div>

    </section>
    

</div>

